* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

#custom-launcher,
#workspaces,
#window,
#scratchpad,
#custom-weather,
#pulseaudio,
#custom-notifications,
#clock,
#custom-spotify {
  padding: 0 15px;
  margin: 4px 4px;
  background: rgba(0, 12, 53, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(89, 89, 89, 0.3);
  color: #ffffff;
}

#custom-spotify {
  color: #ffffff;
}

#window {
  background: transparent;
  border: none;
  font-weight: bold;
}

#clock {
  margin-right: 10px;
}

#workspaces button {
  padding: 0 12px;
  color: #aaaaaa;
}

#workspaces button.active {
  color: #ffffff;
  background: rgba(89, 89, 89, 0.4);
  border-radius: 10px;
}

#custom-launcher {
  font-size: 18px;
}

#scratchpad {
  color: #ffffff;
}


