* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window {
    margin: 5px;
    border: 2px solid transparent;
    background: 
        linear-gradient(#000C35, #000C35) padding-box,
        linear-gradient(135deg, #E50000, #022186) border-box;
    border-radius: 15px;
    background-color: rgba(0, 12, 53, 0.4);

}

#input {
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
}

#inner-box {
    margin: 10px;
    border: none;
    background-color: transparent !important;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent !important;
}

#scroll {
    margin: 5px;
    border: none;
    background-color: transparent !important;
}

#text {
    margin: 5px;
    border: none;
    color: #ffffff;
}

#entry {
    border-radius: 10px;
    margin: 3px 10px;
    padding: 8px;
    background-color: transparent;
}

#entry:selected {
    background-color: rgba(92, 92, 92, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#entry:selected #text {
    color: #ffffff;
    font-weight: bold;
}

#img {
    margin-right: 15px;
}
